body {
    background-color: white;
    height: 200vh;
}
.heading {
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 2rem;
}
 .one{
    cursor: pointer;
}
.two{
    cursor: pointer;
}
.underline {
    border-bottom: 5px solid green;
    margin-top: 10px;
    margin-left:10px;
    border-radius: 15px;
    margin-right: 190px;
    transform: translateX(0px);
    transition: transform .7s;
}
.translate{
 transform: translateX(150px);
 transition: transform .6s;
}

.box {
    border-radius: 15px;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    width: 320px;
    height: 250px;
}

.form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.form input {
    outline: none;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid green;
}

.form label {
    margin-left: 8px;
}
.button {
    border-radius: 10px;
    border: 1px solid green;
    margin: 10px;
    font-size: 1.1rem;
}

@media (max-width:575px) {
    .button {
        background-color: green;
        color: white;
    }
    .img{
        width: 70px;
        margin-left: -4rem !important;
    }
}
.result{
    background-color: rgb(6, 88, 6);
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 1.2rem;
}
.result1{
    background-color: rgb(6, 88, 6);
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 1.2rem;
}
.mt-5 img{
    position:fixed;
    width: 100px;
}


